@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  font-family: "Alef";
}
.card-wrapper{
  padding: 10px;
  width: 1000px;
  
}
.hooper-slide.is-current {
  transform: scale(1.2);
}


.card1 {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
  border-radius: 8px;
  /* display: flex; */
  padding: 50px 75px;
  
  /* padding-left: 20px; */
  /* float: right; */
  /* float: right; */
}
.card-header1 {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-height: 46px;
  overflow: hidden;
  color: #1d3576;
  
  /* font-family: alef; */
  padding-left: 350px;

}
.card-span {
  margin-bottom: 7px;
  font-style: normal;

  font-size: 20px;
  line-height: 24px;
  max-height: 46px;
  overflow: hidden;
  color: #1d3576;}
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
  /* font-family: alef;
  padding-left: 300px; */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

.hooper-slide {
  height: unset;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 0px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 10px 5px 0 #FFF017;
  box-shadow: 0 10px 5px 0 #FFF017;
  outline: 3px auto #1d3576;
}
/* 
.hooper * {
  /* box-sizing: border-box; */
  /* padding: 23px 0px 58px 0px; */
/* } */ 
.hooper-list {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 21px 0px 39px 0px;
}


.additional-info {
  font-size: 15px;
  line-height: 100%;
  color: #596178;
}

.additional-info span {
  display: block;
  margin-top: 12px;
}

.scroll-top,
.scroll-bottom {
  width: 37px;
  height: 36px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 5px rgba(40, 41, 61, 0.1));
}



.scroll-top {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -9px;
}

.scroll-bottom {
  bottom: 15px;
  left: 14px;
}

.scroll-bottom img {
  /* transform: rotate(180deg); */
}

button {
  outline: none;
  cursor: pointer;
}

.rate {
  display: flex;
}

.rate-star {
  margin-right: 8px;
}

.rate-count,
.ordered {
  font-size: 11px;
  line-height: 140%;
  color: #596178;
}

.ordered {
  padding-bottom: 4px;
  margin-left: 48px;
}

.card-rating {
  padding-bottom: 17px;
  margin-left: 8px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E1DFDF;
}

.card-quantity {
  display: flex;
  flex-direction: column;
}

.quantity-header {
  font-size: 13px;
  line-height: 15px;
  color: #2F323D;
}





.quantity-number::-webkit-outer-spin-button,
.quantity-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.quantity-minus:hover,
.quantity-plus:hover {
  transition: .3s;
  color: white;
  background-color: #309975;
}



.quantity-minus:disabled,
.quantity-plus:disabled {
  background-color: #F6F6F6;
  cursor: not-allowed;
}


/* .card-gallery {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 46px;
  position: relative;
}

.gallery-pagination { 
  position: relative;
  height: 100%;
  margin-top: 13px;
  width: 65px;
  display: flex;
  flex-direction: column;
} */
.hooper-pagination{
  height: 100%;
  padding: 0;
}

.hooper-slide{
  height: unset;
  display: flex;
  justify-content: center;
}
 .hooper-prev{
  /* margin: -15px 0px 0px 237px ; */
  padding:0px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background:#233475;
  border: 1px solid #233475;
  -webkit-border-radius: 1000px 1000px 1000px 1000px;

  border-radius: 1000px 1000px 1000px 1000px;
  filter: drop-shadow(0px 2px 5px #233475);
  z-index: 5;
 }

 .hooper-next{
  /* margin: -15px 237px 0px  0px ; */
  width: 30px;
  padding:0px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background:#233475;
  border: 1px solid #233475;
  -webkit-border-radius: 1000px 1000px 1000px 1000px;

  border-radius: 1000px 1000px 1000px 1000px;
  filter: drop-shadow(0px 2px 5px #233475);
  z-index: 5;
}
.hooper-navigation.is-vertical .hooper-prev{
  right: 14px;
  top: -13px;
}
.hooper-navigation.is-vertical .hooper-next{
  right: 14px;
  bottom: 14px;
}


/* 

.gallery-pagination::before {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 65px;
  content: '';
  z-index: 3;
}

.gallery-pagination::after {

  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  height: 65px;
  content: '';
  z-index: 3;
}

.gallery-pagination::-webkit-scrollbar {
  display: none;
}



.gallery-item img {
  max-height: 100%;
  max-width: 100%;
} */
.hooper-slide.is-active {
  /* transform: scale(0.002); */
  transition: .3s;

  margin-left: 10px;
  margin-right: 10px;
}

.hooper-track {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 73px 0px 0px;
  margin: 0px 0px 0px -80px;
}
.hooper-slide.is-active.is-current  {
 
  transition: .3s;

  margin-left: 40px;
  margin-right: 40px;
}



.gallery-main-item {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.vh--holder.vh--rel > picture:first-child img{
  max-width: 100%;
}

.card {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  display: flex;
  padding: 50px 75px;
  padding-left: 20px;
}

.card>div {
  width: 50%;
}


.card-header {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-height: 46px;
  overflow: hidden;
  color: #2F323D;
}



.btn-group {
  border-bottom: 1px solid #E1DFDF;
}

.btn-group button {
  transition: .3s;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  padding: 8px 32px;
  margin-bottom: 24px;
}


@media screen and (max-width:1240px) {
  .card{
    flex-direction: column;
    padding: 30px 20px; 
    padding-bottom: 0;
  }
  .card > div{
    width: 100%; 
    max-width: 900px;
  }
  
  .scroll-top {
    bottom: 15px; 
    top: unset;
    left: 0;
    margin: unset;
  }
  .scroll-bottom img {
    width: 100%;
    /* transform: rotate(90deg); */
  }
  .scroll-top img {
    /* transform: rotate(-90deg); */
    }
  .scroll-bottom {
    right: 0px;
    bottom: 15px;
    left: unset;
  }
  .card-info{
    padding: 25px;
  }
  
}

@media screen and (max-width: 992px){
  .card > div{
    max-width: 700px;
  }
  .btn-group {
    display: flex;
    /* justify-content: space-around; */
  }
}
@media screen and (max-width: 768px) {
  .card > div{
    max-width: 500px;
  }
  .card-header{
    max-height: unset;
  }
  .btn-group{
    flex-direction: column;
  }
  .btn-group button{
    width: 100%;
  }

}
@media screen and (max-width: 576px) {
  .card>div{
    width: 90vw;
    max-width: 400px;
  }
  .btn-group {
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .card > div{
    width: 100%;
  }
  .card{
    width: 90vw;
  }
  
  .quantity-inStock {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 40px;
  }
 
}
